# Data Processing
pandas
polars
pyarrow
numpy

# Data Ingestion
requests

# Visualization
matplotlib
seaborn
plotly

# Jupyter
jupyter

# Time Series Models
statsmodels
prophet
arch
lighgbm
tensorflow
scikit-learn

# API
fastapi
uvicorn[standard]
pydantic

# Frontend
streamlit

# Testing
pytest
pytest-cov
httpx
